# I am ignoring the advice below, and just blocking all IDE files.
# From: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# IntelliJ
out/
.idea/
*.iml

# CMake
cmake-build-*/

# File-based project format
*.iws

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Additions specific for this project
/target/
/tmp/
